@model ToDoViewModel

<h2>New Task</h2>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Home" asp-action="Add" method="post">

  <div class="form-group">
    <label asp-for="CurrentTask.Description">Description:</label>
    <input type="text" asp-for="CurrentTask.Description" class="form-control" />
  </div>

  <div class="form-group">
    <label asp-for="CurrentTask.CategoryId">Category:</label>
    <select asp-for="CurrentTask.CategoryId" class="form-control"
            asp-items="@(new SelectList(Model.Categories,"CategoryId","Name"))">
      <option value=""></option>
    </select>
  </div>

  <div class="form-group">
    <label asp-for="CurrentTask.DueDate">Due Date:</label>
    <input type="text" asp-for="CurrentTask.DueDate" class="form-control" />
  </div>

  <div class="form-group">
    <label asp-for="CurrentTask.StatusId">Status:</label>
    <select asp-for="CurrentTask.StatusId" class="form-control"
            asp-items="@(new SelectList(Model.Statuses,"StatusId","Name"))">
      <option value=""></option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
  <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>