<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoListApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />   
</head>
<body>
  <div class="container">
    <header class="bg-primary text-white text-center">
      <h1 class="m-3 p-3">My Tasks</h1>
    </header>
    @RenderBody()
  </div>
   
</body>
</html>
